.branding {
  padding: 2rem 0;
  padding-bottom: 4rem;
}
.branding-content {
  padding-left: 4rem;
}

.branding-content > * {
  margin: 4rem 0;
}

@media screen and (min-width: 1040px) {
  .branding {
    padding: 10rem 0;
  }
}
