.branding {
  padding: 2rem 0;
  padding-bottom: 4rem;
  text-align: center;
}

.branding-content > * {
  margin: 4rem 0;
}

@media screen and (min-width: 1040px) {
  .branding {
    padding: 10rem 0;
    text-align: left;
  }
  .branding-content {
    padding-left: 4rem;
  }
}
