.questions {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(26, 58, 8);
  background: linear-gradient(
    122deg,
    rgb(86, 116, 68) 3%,
    rgb(230, 233, 230) 79%
  );
  padding: 5rem 0;
  padding-bottom: 8rem;
  color: black;
}
.questions-body {
  font-size: 2rem;
}

.secondary-title {
  font-weight: bold;
  font-size: 3.1rem;
}

.questions > * {
  margin: 2rem 0;
}
.question-card {
  background: white;
  border: 2px solid white;
  border-radius: 15px;
  max-width: 50%;
  padding: 4rem;
  text-align: left;
  margin: 0 1.5rem;
  cursor: pointer;
}

.question-card:hover {
  border: 2px solid grey;
  color: rgb(120, 155, 99);
}

.question-card > * {
  margin: 1rem 0;
}
.question-card_container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
