.privacy {
  padding: 4rem;
}
.privacy h2 {
  white-space: nowrap;
}
.privacy-body {
  font-size: 2.1rem;
}

.privacy-title {
  margin-bottom: 3rem;
}
.privacy-list {
  margin-top: 2rem;
  list-style-type: none;
}
.privacy-list li {
  margin-top: 3rem;
}
.privacy-list--title {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}
