.lifestyle {
  width: 100%;
  height: 400px;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
}

.lifestyle-text {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lifestyle-text h2 {
  font-size: 4rem;
  max-width: 600px;
  text-align: left;
  color: white;
}

@media screen and (min-width: 768px) {
  .lifestyle-text {
    transform: translateY(-50%) translateX(-90%);
  }
}
