.logo {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Zen Dots", cursive;
  cursor: pointer;
  font-style: italic;
  transform: translateY(3px);
  position: relative;
  overflow: hidden;
  height: 48px;
}

.logo-business {
  position: absolute;
  right: 0px;
  top: 58%;
  font-size: 1.9rem;
  color: black;
}
