.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.card {
  background: url("../../images/green-card.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-input {
  margin-top: 9rem;
  margin-bottom: 4rem;
  background: var(--background);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
}

.card-input--title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.card-input input::placeholder {
  font-size: 1.7rem;
}

.input-container {
  display: flex;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 7px;
}

.input-container input {
  flex-grow: 2;
}

.input-container button,
.input-container input {
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
}
.input-container button {
  max-width: 200px;
}

.input-container button {
  background: var(--color-primary);
  color: white;
}

.input-container button:hover {
  background: rgb(0, 0, 0);
}
.card-img {
  max-width: 413px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .card {
    background: rgb(8, 58, 30);
    background: linear-gradient(
      122deg,
      rgba(8, 58, 30, 1) 3%,
      rgba(4, 153, 71, 1) 79%,
      rgba(149, 187, 78, 1) 100%
    );
    padding: 1rem;
    justify-content: flex-start;
  }
  .card-container {
    justify-content: flex-start;
    padding: 0;
  }
  .card-img {
    max-width: 350px;
  }
  .card-input {
    width: 100%;
    margin-bottom: 3rem;
  }
}
