.solutions {
  padding: 2rem;
  /* text-align: center; */
}

.solutions-desc {
  font-size: 2rem;
  margin: 2rem 0;
}

.solutions-container {
  margin-top: 5rem;
  display: grid;
  gap: 5rem;
}
.solutions-list {
  list-style-type: none;
}
.solutions-list li {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: right;
  /* text-align: center; */
  margin: 5rem 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  border: 5px solid var(--background);
  margin-right: 3rem;
}

.solutions-list img {
  width: 60%;
}

.cta-container {
  padding: 3rem;
  background: var(--background);
  font-size: 2rem;
  margin-bottom: auto;
}
.cta-container h3 {
  margin-bottom: 1rem;
}
.cta-container ul {
  list-style-type: none;
  margin-top: 2rem;
}

.cta-container li {
  margin: 1rem 0;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .img-container {
    width: 125px;
    height: 125px;
  }
}

@media screen and (min-width: 1040px) {
  .solutions {
    padding: 5rem 10rem;
  }
  .solutions-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .solutions-list li {
    justify-items: center;
  }
}
