.footer {
  background: black;
  text-align: left;
  padding: 10rem 3rem;
  padding-top: 8rem;
  position: relative;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-copyright {
  color: rgb(216, 211, 211);
  margin-top: 2rem;
  font-size: 1.3rem;
  white-space: nowrap;
  text-align: center;
}
.footer-copyright p {
  color: white;
}
.footer-copyright--small {
  margin-top: 1rem;
}

.footer-list {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 2rem;
}

.footer-list-item_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer-subtitle {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  letter-spacing: 1.4px;
  color: white;
}
.footer-list-item_list li {
  margin: 0.3rem 0;
}

.footer-list-item_list a {
  opacity: 0.9;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1.4px;
}
.footer-list-item_list a:hover {
  opacity: 1;
}

.business-toggle {
  color: white;
  background: none;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translateX(50%);
  font-weight: bold;
}

.business-toggle:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 475px) {
  .footer-list {
    flex-wrap: wrap;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media screen and (min-width: 1040px) {
  .footer-content {
    flex-direction: row;
  }
  .footer-copyright {
    order: 1;
  }
  .footer-list {
    order: 2;
  }
}
