.question-card {
  flex-direction: column;
  background: white;
  border: 2px solid white;
  border-radius: 15px;
  max-width: 100%;
  padding: 4rem;
  text-align: left;
  margin: 0 1.5rem;
  cursor: pointer;
}
.question-card img {
  max-width: 150px;
}

.question-card:hover {
  border: 2px solid grey;
  color: rgb(120, 155, 99);
}

.question-card > * {
  margin: 1rem 0;
}
