@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@400;700&family=Zen+Dots&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s all;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1.7rem;
  color: #212427;
  cursor: default;
}

.app {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: #212427;
}

h1 {
  font-size: 5.653rem;
}
h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  color: #212427;
}
button {
  cursor: pointer;
}

:root {
  --color-secondary: #90b44e;
  --color-primary: #049947;
  --color-dark: #083a1e;
  --color-accent: #7e8286;
  --background: #e7f3e7;
}

.orange {
  color: var(--color-secondary);
}
.blue {
  color: var(--color-primary);
}
.dark {
  color: var(--color-accent);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(9, 255, 103, 0.2);
  height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 95, 10);
}
