.banner {
  background: var(--background);
  padding: 8rem 0;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 4rem;
}

.banner-item {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-item h3 {
  margin-top: 2rem;
  font-size: 2rem;
}

.banner-item_img {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.banner-item_img img {
  width: 60%;
}
@media screen and (min-width: 1040px) {
  .banner-container {
    width: 100%;
    gap: 0;
    justify-content: space-around;
  }
  .banner-item_img {
    width: 175px;
    height: 175px;
  }
}
